# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
bin/gpio.crf
bin/gpio_cfg.crf
bin/heap_2.crf
bin/list.crf
bin/main.crf
bin/partest.crf
bin/port.crf
bin/queue.crf
bin/RTOSDemo.build_log.htm
bin/RTOSDemo.htm
bin/RTOSDemo_RTOSDemo_THUMB.dep
bin/serial.crf
bin/tasks.crf
